
      <div class="row">
        
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="fa fa-book"></i>
              </div>
              <p class="card-category">Courses</p>
              <h3 class="card-title">{{nbDoctors}}</h3>
            </div>
            <div class="card-footer" routerLinkActive="active">
              <div class="stats">
                <i class="material-icons">list</i>
                <a routerLink="/courses">See More...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="fa fa-file"></i>
              </div>
              <p class="card-category">Subjects</p>
              <h3 class="card-title">{{nbArticles}}</h3>
            </div>
            <div class="card-footer" routerLinkActive="active">
              <div class="stats">
                <i class="material-icons">subject</i>
                <a routerLink="/subjects">See More...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="fa fa-users"></i>
              </div>
              <p class="card-category">Students</p>
              <h3 class="card-title">{{nbAppointments}}</h3>
            </div>
            <div class="card-footer" routerLinkActive="active">
              <div class="stats">
                <i class="material-icons">subject</i>
                <a routerLink="/students">See More...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    
