<div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Student Grades</h4>
        <p class="card-category"> Student ID :<strong> {{grades.length}}</strong></p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div *ngIf="grades.length==0" class="alert alert-warning">No grade found</div>
          <table *ngIf="grades.length!=0" class="table">                 
            <thead class=" text-primary">
              <th>ID </th>
              <th>Subject</th>
              <th>Grade</th>
              
            </thead>
            <tbody >                  
              <tr *ngFor="let g of grades">                     
                <td>{{g.id}}</td>
                <td>{{g.subject}}</td>
                <td>{{g.grade}}</td>
                       
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

